body, html {
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
}

.icon-choice {
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

.character {
    width: 50px !important;
    height: 50px !important;
    pointer-events: none;
    position: absolute;
    animation: show 0.6s ease-in;
    color: #ffffff;
    user-select: none;
    touch-action: none;
}
    .character.user-character {
        color: #2c2b88;
        stroke: white;
    }
    .character:not(.user-character) {
        transition: all 0.2s ease-in-out;
    }

.draggable {
    pointer-events: auto;
    cursor: grab;
}

.map-container {
    position: fixed;
    width: 500px;
    height: 500px;
    border: 2px solid #ccc;
    overflow: hidden;
    background-image: url("img/background.png");
    background-size: 500px 500px;
    touch-action: none;
}

@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

.disabled {
    color: #ccc;
    cursor: not-allowed;
}